.columngal {
    column-count: 1;
    column-gap: 10px;
    column-rule-width: 200px;
    column-span: all;
    padding: 4px;
    background-color: #16141c;
}
.columngal img{
    width: 20vw;
    border: 2px solid black;
}

.title{
    padding-left: 10px;
    color: greenyellow;
}
.title b {
    color: white;
}