@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
.app-wrapper {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas:
  "h h"
  "n c"
  "e e";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
}

.content{
  grid-area: c;
  background-color: lightslategray;
}
.content img {
  width: 100px;
}